/* ===== css barra lateral ===== */

/* Barra lateral com os botões que mudam a página. Inicia fechada, aberta/fechada pelo botão hamburguer-button */
.left-sidebar {
    position: fixed;
    width: 280px;
    height: 1000px; 
    background: var(--left-sidebar-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* inicia fechado */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.left-sidebar.active {
    transform: translateX(0);
}

/* botões de navagação principais*/
.nav-btn {
    all: unset;
    width: 100%; 
    padding: 10px;
    background-color: var(--left-sidebar-color);
    color: var(--letters_main-color);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

.nav-btn:hover {
    background-color: var(--left-sidebar-button-hover);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

/* botões do dropdown */
.dropdown-nav-btn {
    all: unset;
    padding: 10px 30px;
    background-color: var(--left-sidebar-color);
    color: var(--letters_main-color);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-nav-btn:hover {
    background-color:  var(--left-sidebar-button-hover);
}

/* abertura e fechamento do dropdown (inicia fechado) e rotação do símbolo ">" */
.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    display: flex;
    flex-direction: column;
}

.sidebar-dropdown.expanded .dropdown-content {
    max-height: fit-content;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
    font-size: 30px;
    vertical-align: -5px;
}

.sidebar-dropdown.expanded .dropdown-arrow {
    transform: rotate(90deg);
}